#!/bin/sh

export MONO_PREFIX=@@BITROCK_MONO_ROOTDIR@@
export MONO_CFG_DIR=$MONO_PREFIX/etc
export MONO_GAC_PREFIX=$MONO_PREFIX
export MONO_PATH=$MONO_PREFIX/lib:$MONO_PREFIX/lib/mono/1.0
export PKG_CONFIG_PATH=$MONO_PREFIX/lib/pkgconfig:$PKG_CONFIG_PATH
export LD_LIBRARY_PATH=$MONO_PREFIX/lib:$MONO_PREFIX/lib/monodoc:$LD_LIBRARY_PATH
export PATH=$MONO_PREFIX/bin:$PATH

exec @@BITROCK_MONO_ROOTDIR@@/bin/wrapper.bin "$@"
