/* --- 3 Column Layout --- */

table#home {
    width: 100%;
}

table#home td {
    vertical-align: top;
}

table#home td.first {
    width: 40%;
}

table#home td.second {
    width: 40%;
    padding-left: 30px;
}

table#home td.third {
    width: 20%;
    padding-left: 30px;
}

table#home td.blurb {
    height: 100%;
}

/* --- Feature List --- */

dl.features {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

dl.features dt {
    font-weight: bold;
    background: url("images/bullet.png") no-repeat left 50%;
}

dl.features dt,
dl.features dd {
    padding: 0 0 0 14px;
    margin: 0;
}

dl.features dd {
    font-size: .85em;
    color: #555;
    margin-bottom: 1em;
}

dl.features dt img {
    display: none;
}

dl.features span.new { 
    font-size: .75em; 
    font-weight: normal; 
    padding-left: 6px;
    color: #2f9bf0;
}

/* --- News List --- */

#news { 
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    font-size: .85em;
    line-height: 1.2em;
}

#news li {
    padding: 0;
    margin: 0 0 0 .5em;
}

#news h4 {
    margin-bottom: 0;
    font-size: 1.2em;
}

#news p {
    margin-top: .5em;
    margin-bottom: 3em;
}

/* --- Rss Feed --- */

.rssfeed .rssmore {
    display: none;
}

#home-intro {
  line-height:125%;
  width:940px;
  overflow:none;
}

#home-intro-banner {
    height: 271px;
    padding-right:30px;
    padding-left:30px;
    padding-top: 80px;
}

  #home-intro-banner table {
    width:880px;
  }
  
  td.square {
    display: block;
    position: relative;
  }

  #home-intro-banner table tr td.square {
    width: 271px;
    height: 181px;
    background: url("images/mp-white-square.png") no-repeat top center;
    vertical-align: top;
  }

  .learn {  
    display: block;
    position: absolute;
    bottom: 20px; left: 20px;
    font-size: 80%;
    font-weight: bold;  
  }
  .try {
    display: block;
    position: absolute;
    bottom: 40px; right: 20px;
    font-size: 80%;
    font-weight: bold;      
  }
  .buy,
  .download {
    display: block;
    position: absolute;
    bottom: 20px; right: 20px;
    font-size: 80%;
    font-weight: bold;      
  }


  #home-intro-banner a {
    color: #eef;
  }

  #home-intro-banner a:hover {
    color: #0D71C0;
  }


/* some IE6 shit I guess */
  * html #home-intro-banner table tr td.square {
    border: solid 1px #666;
    background: transparent !important;
  }

  * html #home-intro-banner table tr td img {
    background-color: white;
    border: solid 5px white;
    padding: 0px !important;
    margin: 0px !important;
  }

  #home-intro-banner table tr td img {
    float: right;
    padding-right:8px;
    padding-top:2px;
  }

  #home-sub-banner {
      padding-right:30px;
      padding-left:30px;
      margin-top: 6em;
  }


    #home-sub-banner table {
      width:880px;
    }

    #home-sub-banner table tr td.square {
      width: 271px;
      height: 181px;
      background: url("images/mp-gray-square.png") no-repeat top center;
      vertical-align: top;
    }

    #home-sub-banner table tr td img {
      float: right;
      padding-right:8px;
      padding-top:2px;
    }



#home-sub-banner a {
  color: #0D71C0;
}

#home-sub-banner a:hover {
  color: #99f;
}

div.home-caption {
  color: #274E80;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  top: 10px; left: 20px;
  max-width: 200px;
}

div.home-content {
  width: 230px;
  color:#19194b;
  font-size:0.9em;
  margin: 50px 20px 0;
}

/* splash background */
#splash-bg {
  z-index: -1;
  position: absolute;
  top: 91px;
  left: 0; right: 0;
  height: 400px;
  background-color: #34679d;
}
  #splash-bg .wrapper {
    position: relative;
    width: 940px;
    margin: 0 auto;
    height: 400px;
  }

  #splash-img {
    display: block;
    position: absolute;
    width: 100%;
    height: 400px;
  }
  
  #splash-bg h1 {
    color: #fff;
    opacity: 0.5;
    font-size: 185%;
    border: 0;
    position: absolute;
    top: 20px; left: 37px;
  }
  
  #splash-bg h2 {
    color: #fff;
    font-size: 125%;
    position: absolute;
    bottom: 15px; left: 337px;
  }
  
  #platform-logos {
    display: block;
    position: absolute;
    width: 300px; height: 100px;
    bottom: -20px; left: 33px;
    background: url(images/platform-logos-big.png) no-repeat center center;
  }

