/* style.css  */

td.osicon
{
	width:80px;
}

img.osicon
{
	position:relative;
	left:15px;
}


td.os
{
	border: 1px solid #ffffff;
	width: 70px;
	cursor: pointer;
	border: 1px solid #fff;
}

td.os:hover
{
	border: 1px solid #aaa;
}

div.os
{
	width: 100%;
}

td.dl-tableborder
{
	padding: 0px;
}

table.os
{
        border-collapse: separate;
}

div.dl-content h2
{
   margin-top: 1ex;
}

table {
	font-family:lucida grande, sans-serif;
	font-size:1.0em;
}
div.os-rd
{
	margin-bottom: 1ex;
	position: relative;
	width: 100%;
	text-align: center;
	visibility:hidden;
	display:none;
}

div.os-id
{
	width: 100%;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

div.os-id img
{
	border: 1px solid #444;
}


select {
    width: 292px;
	position:relative;
	left:30px;
}
