[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Monologue - Voices of the Mono Project
Type=Link
URL=http://www.go-mono.com/monologue/
Icon=monologue
