[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Blog Starter Kit\n[ASP.NET 2.0]
Type=Link
URL=http://localhost/BlogStarterKit/Admin/
Icon=gnome-fs-bookmark
