[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Club Web Site Starter Kit\n[ASP.NET 2.0]
Type=Link
URL=http://localhost/ClubWebSite/
Icon=gnome-fs-bookmark
