/**** CSS for mono.html ****/

/*** standard html ***/
body {
    background-color: #fff;
    color: #333;
/*    font-family: lucida grande, myriad, andale sans, luxi sans, bitstream vera sans, tahoma, toga sans, helvetica, arial, sans-serif;
    */
    font-family: lucida grande, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 11pt;
}
html>body {
    font-size: 0.8em;
}

a:link {
    font-weight: bold;
    color: #5a7ac7;
    text-decoration: none;
}

a:visited {
    font-weight: bold;
    text-decoration: underline;
    text-decoration: none;
    color: #9f75ad;
}

a:hover {
    font-weight: bold;
    color: #dd6545;
    text-decoration: underline;
}

a:active {
}

.image img,
a img {
    border: none;
}

.thumb {
    margin: 1em;
    padding: 1em;
    color: #999;
}

h1,h2,h3,h4,h5,h6 {
    /* color: #aebf91; */
    color: #2b5836;
    color: #556f27;
    color: #576178;
    font-family: vag rounded, vag round, arial mt rounded, arial rounded, lucida grande, myriad, andale sans, luxi sans, bitstream vera sans, tahoma, toga sans, helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    /*
    font-variant: small-caps;
    text-transform: lowercase;
    */
    /*
    font-size: 1em;
    */
    /* margin: 2em  0 0 0; */
    /* padding: pt 1pt; */
}

h1 {
    font-size: 2.25em;
}

h2 {
    margin-top: 1.5em;
    font-size: 1.75em;
}

h3 {
    margin-top: 2em;
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}
h5,
h6 {
    font-size: 1em;
}
p + a + h1, p + a + h2, p + a + h3, p + a + h4, p + a + h5, p + a + h6,
ul + a + h1, ul + a + h2, ul + a + h3, ul + a + h4, ul + a + h5, ul + a + h6,
div + a + h1, div + a + h2, div + a + h3, div + a + h4, div + a + h5, div + a + h6,
table + a + h1, table + a + h2, table + a + h3, table + a + h4, table + a + h5, table + a + h6 {
    margin-top: 1.5em;
}

hr {
}

/*** id (should only occur once in a page) ***/
#globalWrapper {
    background: #fff url(images/new-bg.png) repeat-x top left;
    border-top: 1px solid #eaf8d1;
}
html>body #globalWrapper {
    border: 0;
}
#bigWrapper {
    position: relative;
    max-width: 80em;
    margin: 0 auto;
    text-align: left;
}

#column-content {
    /* Content wrapper */
    padding: 130px 1em 0 1em;
}

#content {
    /* Content area */
}

#contentTop {
    /* Something at the top of the content? */ 
}

#bodyContent {
    /* Content under the header */
}

#siteSub {
    /* Sub-heading*/
    display: none;
}

#contentSub {
    /* Under the sub-heading */
}

#column-one {
    /* Utility-bar (when logged-in) */
    display: block;
    border-bottom: 1px solid #dd9;
    padding: 0.75em 1em;
    position: relative;
    line-height: 1.3em;
    background: transparent url(images/edit.png) no-repeat left;
    padding-left: 90px;
    background-color: #ffe;
    /* display: none; */
}
#column-one li {
    display: inline;
}
#column-one a {
    text-decoration: none;
    padding: 0 3pt;
}
#column-one a:hover {
    text-decoration: underline;
}
#column-one ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
}

#p-cactions {
    /* sidebar - "Views" */
}
#ca-nstab-main {
    /* sidebar - views:article */
}
#ca-history {
    /* sidebar - views:history */
}

#p-personal {
    /* sidebar - "Personal" */
}
#pt-login {
    /* sidebar - personal:login */
}
#pt-logout {
    position: absolute;
    top: 0.5em;
    right: 1em;
}

#p-logo {
    /* Wiki logo (replace with graphic via CSS) */
    position: absolute;
    top: 7px;
    left: 13px;
    background: transparent url(images/logo.png) no-repeat center;
    /* IE stuff */
    _background:none;
}
#p-logo a {
    /* Wiki logo, part 2 */
    display: block;
    width: 300px;
    height: 100px;
    /* IE stuff, part 2 */
    _cursor: pointer;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/skins/monoproject/images/mono-logo.png', sizingMethod='crop');
}

#p-nav {
    /* sidebar - "Navigation" */
    position: absolute;
    top: 28px;
    left: 130px;
    background-color: #e8f3d4;
    font-size: 12pt;
    font-family: vag rounded, vag round, arial mt rounded, arial rounded, verdana, bitstream vera sans, lucida sans, sans-serif;
    font-weight: bold;
}
#p-nav h5 {
    display: none;
}
#p-nav ul {
    margin: 0; padding: 0;
    margin: 5px;
    list-style: none;
    display: inline;
    display: block;
}
#p-nav li {
    margin: 0; padding: 0;
    display: inline;
}
#p-nav li a {
    padding: 0.5em;
    text-transform: lowercase;
    text-decoration: none;
    color: #5a7ac7;
}
#p-nav li + li:before {
    content: " :: ";
    color: #999;
}
#p-nav li a:hover {
    color: #fff;
    background-color: #5a7ac7;
}

#n-mainpage {
}
#n-downloads {
}
#n-screenshots {
}
#n-plans {
}
#n-contact {
}
#n-recentchanges {
}
#n-blogs {
}

#p-search {
    /* sidebar - "Search" */
    /*
    position: absolute;
    top: 25px;
    right: 25px;
    */
    margin: 0 auto 1em;
    text-align: center;
}
#searchform {
    margin: 0 auto;
}
#searchInput {
}

#p-tb {
    /* sidebar - "Toolbox" */
}
#t-whatlinkshere {
}
#t-recentchangeslinked {
}
#t-specialpages {
}

#footer {
    /* Footer */
    clear: both;
    padding: 2em 0;
    margin: 3em auto 2em;
    text-align: center;
}
#f-poweredbyico {
    margin: 1em auto; 
}
#f-poweredbyico a 
{
    text-decoration: none;
    font-size: 9pt;
    border: 1px solid #ccc;
    text-align: center;
    padding: 1px 4px;
    background-color: #f6f6f6;
    color: #999;
}
#f-poweredbyico img {
    border: none;
    vertical-align: middle;
    margin: 0 0.4em 3px 0;
}
#f-list {
}
#f-lastmod {
}
#f-viewcount {
}
#f-about {
}
#f-disclaimer {
}

#toc {
    /*border:1px solid #2f6fab;*/
    border: 1px solid #aaa;
    background: #f6f6f6 url(images/toc.png) repeat-x;
    padding: 5pt;
    font-size: 95%;
    float: right;
    margin: 0 0 1em 2em;
    width: 20em;
}
#toc .tocindent { margin: 0 0 1em 1em; }
#toc .tocline { margin-bottom: 0px; }
#toc p { margin: 0 }
#toc .toctoggle { font-size: 94%; }
#toc .editsection {
    margin-top: 0.7em;
    font-size: 94%;
}
#toc .tocline a {
    font-weight: bold;
    text-decoration: none;
    /* margin-top: 1em; */
}
#toc .tocindent a {
    text-decoration: none;
    /*
    text-indent: 2em;
    */
}
#toc a:hover {
    text-decoration: underline;
}

/*** class (may occur multiple times in a page) ***/
.ns-0 {
    /* Seems to be the main page */
}

.firstHeading,
#page-MainPage h1 {
    /* This is the first H1 */
    margin-top: 0;
}

.external {
    /* External links */
}

.urlexpansion {
    /* Printer-friendly URL expansions (should be hidden when viewed on screen) */
    display: none;
}

.MainPageBG {
    /* UNSURE */
}

.printfooter {
    /* Printer-friendly display of the current URL (should be off in screen media) */
    display: none;
}

.visualClear {
    /* Clears floating elements */
    clear: both;
}

.portlet {
    /* Sidebar sections */
    /*
    float: left;
    */
    text-align: left;
}

.selected {
    /* UNKNOWN - currently selected page? */
}

.pBody {
    /* "portlet" bodies, for most portlets */
}

.searchButton {
    /* Style applied to the "Go" and "Search" buttons */
}

:target + h1,
:target + h2,
:target + h3,
:target + h4 {
    background-color: #ffffcc;
}

/*
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
#bodyContent a[href ^="http://"],
#bodyContent a[href ^="gopher://"] {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}
#bodyContent a[href ^="https://"],
.link-https {
    background: url("lock_icon.gif") center right no-repeat;
    padding-right: 16px;
}
#bodyContent a[href ^="mailto:"],
.link-mailto {
    background: url("mail_icon.gif") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="news://"] {
    background: url("news_icon.png") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="ftp://"],
.link-ftp {
    background: url("file_icon.gif") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="irc://"],
.link-irc {
    background: url("discussionitem_icon.gif")  center right no-repeat;
    padding-right: 18px;
}

#page-MainPage .rssfeed {
}

#page-MainPage .rssfeed dd+dt+dd {
    display: none;
}
#page-MainPage .rssfeed dd {
    padding: 0 1em 1em;
}

.rssfeed dl {
    margin: 0;
    padding: 1em 0 0;
}
.rssfeed dt {
}
.rssfeed dd {
    margin: 0;
    padding: 0;
}

#page-MainPage .rssfeed a {
    text-decoration: none;
}
#page-MainPage .rssfeed a:hover {
    text-decoration: underline;
}

#page-MainPage .rssfeed h2 {
    margin-top: 0;
}
#page-MainPage .rssfeed h2 a,
#page-MainPage .rssfeed dt a {
    background: none;
    padding-right: 0;
}
.rssfeed .rssmore {
    background: none !important;
    padding: 0 1em !important;
    display: block;
    margin-top: 0.25em;
}

#searchbox {
    height: 25px;
    position: absolute;
    top: 80px;
    right:05px;
}
#searchbox h3 {
    display: none;
}
#searchbox ul, #searchbox li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#searchbox ul {
    margin: 11px 16px;
}
#searchbox li {
    float: left;
    display: block;
}
#searchbox li a {
    width: 84px;
    height: 44px;
    border: 0;
    display: block;
    text-decoration: none;
    text-indent: -1000em;
    border: 1px solid #fff;
    padding: 3px 6px;
}
#q-downloads a {
    background: transparent url(images/download.png) no-repeat center;
}
#q-docs a {
    background: transparent url(images/docs.png) no-repeat center;
}
#q-blogs a {
    background: transparent url(images/blogs.png) no-repeat center;
}
#q-screenshots a {
    background: transparent url(images/screenshots.png) no-repeat center;
}
#searchbox li a:hover {
    background-color: #ffefcf;
    border: 1px solid #fe0;
}

#quicklinks {
    width: 500px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 15px;
    text-align: right;
    color: White;
}

#quicklinks a 
{
	font-weight: bold;
    text-decoration: none;
    color: White;
}

#quicklinks img 
{
	margin-bottom: -3px;
	margin-right: 1px;
}

#quicklinks a:hover {
    color: #F1921A;
}

#quicklinks h3 {
    display: none;
}
#quicklinks ul, #quicklinks li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#quicklinks ul {
    margin: 11px 16px;
}
#quicklinks li {
    float: left;
    display: block;
}
#quicklinks li a {
    width: 84px;
    height: 44px;
    border: 0;
    display: block;
    text-decoration: none;
    text-indent: -1000em;
    border: 1px solid #fff;
    padding: 3px 6px;
    color: White;
}

#f-login {
    margin: 1em auto;
    text-align: center;
}

table { 
    border-collapse: collapse;
}
table tr, table td {
    padding: 0.5em 1em;
}

#page-Downloads table {
    border-collapse: collapse:
}
#page-Downloads .download-table td,
#page-Downloads .download-table th {
    border: 1px solid #ccc;
    border-width: 1px 0;
    padding: 2em 1em;
}
#page-Downloads .download-table th {
    border-right: 1px dotted #ccc;
}
#page-Downloads .download-table table td,
#page-Downloads .download-table table th {
    border: none;
    padding: 0 0.5em;
}
#page-Downloads table th, #page-Downloads table td {
    vertical-align: top;
}
#page-Downloads img {
    vertical-align: middle;
}

#page-FAQGeneral h1 {
}
#page-FAQGeneral h2 {
    border-bottom: 2px solid #ccc;
    font-size: 1.75em;
    margin-top: 2em;
    margin-left: -0.5em;
    padding: 0 0.5em 0.25em;
}
#page-FAQGeneral h3 {
}
#page-FAQGeneral h4 {
    font-size: 1.4em;
    margin-top: 1.75em;
}
#page-FAQGeneral h4:before {
    /*
    content: "Q: ";
    font-size: 0.9em;
    opacity: 0.5;
    margin-left: -18pt;
    */
}
#page-FAQGeneral h4 + p:before {
    /*
    opacity: 0.5;
    font-size: 0.9em;
    content: "A: ";
    font-weight: bold;
    */
}
#page-FAQGeneral h2:before {
}

pre,
tt {
    font-size: 1em;
    font-family: bitstream vera sans mono,luxi mono,monospace;
}
pre {
    padding: 6pt;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
}

/* images */
div.floatright, table.floatright {
    clear: right;
    float: right;
    position: relative;
    margin: 0 0 0.5em 0.5em;
    border: 0
/*
    border: 0.5em solid White;
    border-width: 0.5em 0 0.8em 1.4em;
*/
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
    float: left;
    position: relative;
    margin: 0 0.5em 0.5em 0;
    border: 0
/*
    margin: 0.3em 0.5em 0.5em 0;
    border: 0.5em solid White;
    border-width: 0.5em 1.4em 0.8em 0;
*/
}
div.floatleft p { font-style: italic; }
/* thumbnails */
div.thumb {
    margin-bottom: 0.5em;
    border-style: solid; border-color: White;
    width: auto;
}
div.thumb div {
    border:1px solid #cccccc;
    padding: 3px !important;
    background-color:#f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}
div.thumb div a img {
    border:1px solid #cccccc;
}
div.thumb div div.thumbcaption {
    border: none;
    text-align: left;
    line-height: 1.4em;
    padding: 0.3em 0 0.1em 0;
}
div.magnify {
    float: right;
    border: none !important;
    background: none !important;
}
div.magnify a, div.magnify img {
    display: block;
    border: none !important;
    background: none !important;
}
div.tright {
    clear: right;
    float: right;
    border-width: 0.5em 0 0.8em 1.4em;
}
div.tleft {
    float: left;
    margin-right:0.5em;
    border-width: 0.5em 1.4em 0.8em 0;
}

.highlight-box {
	background: #f0fade; 
	border-style:solid; 
	border-width: 1px; 
	border-color: #dbeac1;
	padding: 1em;
}

.note-box {
	background: #f0fade; 
	border-style:solid; 
	border-width: 1px; 
	border-color: #dbeac1;
	padding: 0 1em;
	margin: 1em;
}

#menu {
	float: left;
	width: 150px;
	margin-right: 15px;
	margin-left: 0px;
	}
	
	#menu a[href ^="http://"]
	{
		background: url();
		padding-right: 0px;
	}
#otherprojects 
{
	float: right;
	margin-right: 15px;
	text-align: center;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

#menu li .heading
{
	border-style: solid solid solid solid;
	border-color: #DAE0D6;
	border-size: 1px;
	border-width: 1px;

	height: 18px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 18px;
	text-decoration: none;
	margin-bottom: 2px;
	color: #576178;
	display: block;
	background: url(images/menu.png);
	padding: 3px 0 0 12px;
	margin-bottom: 2px;
	font-weight: bold;
	}	
	
#menu li a:link, #menu li a:visited {
	color: #576178;
	display: block;
	background: url(images/menu.png);
	padding: 3px 0 0 6px;
	margin-bottom: 2px;
	}
	
#menu li a:hover {
	color: #26370A;
	background: url(images/menu.png) -50px -32px;
	padding: 3px 0 0 5px;
	}
	
#menu li a:active {
	color: #26370A;
	background: url(images/menu.png) -50px -64px;
	padding: 3px 0 0 5px;
	}

#menu li li
{
	list-style-type: square;
	margin-left: 20px;
}

#menu li li a
{
		border-style: none none none none;
	border-color: #94AA74;
	border-size: 1px;
	border-width: 1px;
	margin-bottom: 2px;
	margin-top: 0px;

	display: inline;
	height: 17px;
	padding: 0 0 0 0;
	background: none;
}

#menu li li a:link
{
	color: Black;
	font-weight: normal;
	height: 17px;
	padding: 0 0 0 0;
	background: none;
}

#menu li li a:hover
{
	color: Black;
	font-weight: normal;
	padding: 0 0 0 0;
	background: none;
	text-decoration: underline;
}

#menu li li a:active
{
	color: Black;
	font-weight: normal;
	padding: 0 0 0 0;
	background: none;
}
#menu li li a:visited
{
	color: Black;
	font-weight: normal;
	padding: 0 0 0 0;
	background: none;
}

.split-half {
    float: left;
    width: 42%;
    margin: 0 4% 0 0;
}

.split-half + .split-half {
    margin: 0 0 0 4%;
}

.content-half
{
	display: table;
	margin-left: 5px;
}