#contact-form-container {
  padding-left: 160px !important;
  background: url('images/signup.png') no-repeat;
  color: #091f3a;
}

#contact-form-container h1 {
  text-align: left;
  margin-bottom: 1em;
}

#contact-form {
  font-size: 1.3em;
  margin-bottom: 5em;
  background: url('images/logo_novell.gif') right 6px no-repeat;
}

#contact-form tr {
}

#contact-form th,
#contact-form td {
  font-family: Myriad, Myriad Pro, sans-serif !important;
  font-weight: normal;
  text-align: left;
  
  padding: 0;
  margin: 2px 0;
}

#contact-form th {
  text-align: right;
  vertical-align: center;
  padding: 10px 10px 10px 20px;
}

#contact-form .message-box td,
#contact-form .message-box th {
  padding-top: 15px !important;
}

#contact-form .top-align {
  vertical-align: top;
}

#contact-form input[type="submit"] {
  font-size: 1.35em;
  padding: 4px 15px;
}

#contact-form select,
#contact-form option {
  margin: 0 !important;
  padding: 0 !important;
}

#contact-form textarea {
  width: 600px;
  height: 200px;
}

.required {
	font-size: 11;
	color: #FF0000;
}

.message {
	font-size: 11;
	color: #0000FF;
}

