<configuration>
  <dllmap dll="libglib-2.0-0.dll" target="libglib-2.0.dylib"/>
  <dllmap dll="libgobject-2.0-0.dll" target="libgobject-2.0.dylib"/>
  <dllmap dll="libatk-1.0-0.dll" target="libatk-1.0.dylib"/>
  <dllmap dll="libgtk-win32-2.0-0.dll" target="libgtk-x11-2.0.dylib"/>
  <dllmap dll="gdldock" target="libgdldock.dylib"/>
</configuration>
