body {
  font: 13px/1.5 "Droid Sans", sans-serif;
  color: #444444;
  background-color: white;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "RaveIn Condensed", Avenir, Prelude, sans-serif;
  color: #777777; }

h1 {
  font-size: 140%;
  line-height: 120%; }

h2 {
  font-size: 130%; }

h3 {
  font-size: 120%; }

h4 {
  font-size: 110%; }

h5, h6 {
  font-size: 100%; }

a {
  color: #3465a4;
  text-decoration: none; }
  a:hover {
    color: #477ec4;
    text-decoration: underline;
    -webkit-transition: text-decoration 1s ease-in;
    -moz-transition: text-decoration 1s ease-in;
    -o-transition: text-decoration 1s ease-in; }
  a img {
    border: none; }

ul.block {
  margin: 10px 0 10px;
  padding: 0; }
ul li {
  display: block;
  list-style: none;
  margin-bottom: 0.3em; }

.small {
  font-size: 80%; }

.relative {
  position: relative; }

#ctl00_header {
  height: 100px; }

#minilogo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 285px;
  height: 50px; }

#splash {
  padding: 6em 10px 3em;
  background: url(/img/watermark-splash.png) no-repeat 50% 150%;
  min-height: 300px; }
  #splash h1 {
    margin-bottom: 2em; }

.button {
  display: block;
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2px, Color='rgba(0, 0, 0, 0.5)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2px, Color='rgba(0, 0, 0, 0.5)')\"";
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=rgba(0, 0, 0, 0.5), offX=0, offY=2px) glow(color=rgba(0, 0, 0, 0.5), strength=2px);
  font-family: "RaveIn Condensed", Avenir, Prelude, sans-serif;
  background-image: url(/img/button-shade.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #3465a4;
  border: 1px solid #22416a;
  padding: 2px 6px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; }
  .button:active {
    background-image: none;
    text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
  .button:hover {
    color: white; }

#logo {
  font-size: 90%;
  width: 280px;
  padding: 0 20px; }
  #logo .download {
    margin: 10px 0 5px;
    padding: 6px 30px;
    font-size: 200%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    position: relative; }
    #logo .download span {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 14px;
      -moz-border-radius: 14px;
      -webkit-border-radius: 14px; }
  #logo:active span {
    border: none; }
  #logo .buynow {
    font-size: 110%;
    font-weight: bold; }
  #logo img {
    display: block;
    margin-left: -20px; }

#features {
  margin: 0 0 2em 0;
  padding: 3px 0 6px 0;
  width: 100%;
  overflow: hidden; }
  #features > div {
    background: #e5e5e5 url(/img/mp-bg-footer.png) no-repeat center top;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
    filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1px, Color='rgba(0, 0, 0, 0.6)')";
    -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1px, Color='rgba(0, 0, 0, 0.6)')\"";
    padding: 2em 0 3em; }
    #features > div .feature {
      padding: 5px 5px 5px 120px;
      width: 200px;
      background-color: rgba(255, 255, 255, 0);
      background-repeat: no-repeat;
      background-position: 0 20px;
      border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      height: 11em; }
      #features > div .feature.jquery {
        cursor: pointer; }
        #features > div .feature.jquery:hover {
          background-color: rgba(255, 255, 255, 0.4);
          -webkit-transition: background-color 0.3s ease-in;
          -moz-transition: background-color 0.3s ease-in;
          -o-transition: background-color 0.3s ease-in; }
    #features > div a {
      color: inherit; }
    #features > div a:hover {
      text-decoration: none;
      -webkit-transition: color 1s ease-in;
      -moz-transition: color 1s ease-in;
      -o-transition: color 1s ease-in; }
    #features > div #feature-scan {
      background-image: url(/img/feature-scan.png); }
    #features > div #feature-windows {
      background-image: url(/img/feature-windows.png); }
    #features > div #feature-linux {
      background-image: url(/img/feature-linux.png); }
    #features > div #feature-debug {
      background-image: url(/img/feature-debug.png); }
    #features > div #feature-package {
      background-image: url(/img/feature-package.png); }
    #features > div #feature-studio {
      background-image: url(/img/feature-studio.png); }

#ctl00_form1 #partner {
  width: 250px;
  float: right;
  display: block; }
#ctl00_form1 #ctl00_maincontent_tblForm {
  width: 100%; }
  #ctl00_form1 #ctl00_maincontent_tblForm input {
    width: 100%; }
  #ctl00_form1 #ctl00_maincontent_tblForm td[align="right"] {
    width: 250px;
    padding-right: 12px; }
#ctl00_form1 #ctl00_maincontent_btnDownloadMsi, #ctl00_form1 #ctl00_maincontent_btnDownloadVsix {
  vertical-align: middle; }

.shot {
  max-width: 100%;
  border: 1px solid #888888; }

.note {
  font-size: 90%;
  background-color: #fafafa;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 2em; }

.tip {
  margin-top: 30px;
  font-size: 90%;
  padding: 2em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: rgba(254, 250, 214, 0.5);
  border: 1px solid #edd400; }
  .tip h2 {
    margin-top: 0; }

#ctl00_footer {
  margin: 8em auto 2em auto; }
  #ctl00_footer .logos a {
    display: block;
    margin: 10px 0 20px; }
    #ctl00_footer .logos a img {
      border: none; }

#fancybox-left, #fancybox-right {
  width: 40px !important;
  height: 100% !important;
  bottom: 20px !important; }

#fancybox-left span {
  left: 9px !important;
  opacity: 0.2 !important; }

#fancybox-right span {
  left: auto !important;
  right: 9px !important;
  opacity: 0.2 !important; }

#fancybox-left:hover span {
  left: 9px !important;
  opacity: 1 !important; }

#fancybox-right:hover span {
  right: 9px !important;
  opacity: 1 !important; }

#fancybox-outer {
  padding: 10px 30px 40px 30px !important;
  background-color: white !important;
  background: rgba(240, 240, 240, 0.9) url("/img/mp-bg-footer.png") no-repeat scroll center top !important; }

#fancybox-inner {
  margin: 10px 30px 40px 30px !important; }
  #fancybox-inner .container_12 {
    width: 705px !important; }
