@font-face {
  font-family: 'RaveIn Condensed';
  font-weight: normal;
  font-style: normal;
  src: local('RaveIn Condensed'),
  local('RaveIn-Condensed'),
  url(../fonts/RaveIn-Condensed.otf);
}

@font-face {
  font-family: 'RaveIn Condensed';
  font-weight: bold;
  font-style: normal;
  src: local('RaveIn Condensed Bold'),
  local('RaveIn-Condensed-Bold'),
  url(../fonts/RaveIn-Condensed-Bold.otf);
}

@font-face {
  font-family: 'Liberation Serif';
  font-weight: normal;
  font-style: normal;
  src: local('Liberation Serif'),
  local('LiberationSerif'),
  url(../fonts/LiberationSerif.ttf);
}

@font-face {
  font-family: 'Liberation Serif';
  font-weight: normal;
  font-style: italic;
  src: local('Liberation Serif Italic'),
  local('LiberationSerif-Italic'),
  url(../fonts/LiberationSerif-Italic.ttf);
}

