/* --- 3 Column Layout --- */

table#home {
    width: 100%;
}

table#home td {
    vertical-align: top;
}

table#home td.first {
    width: 40%;
}

table#home td.second {
    width: 40%;
    padding-left: 30px;
}

table#home td.third {
    width: 20%;
    padding-left: 30px;
}

table#home td.blurb {
    height: 100%;
}

/* --- Feature List --- */

dl.features {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

dl.features dt {
    font-weight: bold;
    background: url("images/bullet.png") no-repeat left 50%;
}

dl.features dt,
dl.features dd {
    padding: 0 0 0 14px;
    margin: 0;
}

dl.features dd {
    font-size: .85em;
    color: #555;
    margin-bottom: 1em;
}

dl.features dt img {
    display: none;
}

dl.features span.new { 
    font-size: .75em; 
    font-weight: normal; 
    padding-left: 6px;
    color: #2f9bf0;
}

/* --- News List --- */

#news { 
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    font-size: .85em;
    line-height: 1.2em;
}

#news li {
    padding: 0;
    margin: 0 0 0 .5em;
}

#news h4 {
    margin-bottom: 0;
    font-size: 1.2em;
}

#news p {
    margin-top: .5em;
    margin-bottom: 3em;
}

/* --- Rss Feed --- */

.rssfeed .rssmore {
    display: none;
}

#home-intro {
  line-height:125%;
  width:940px;
  overflow:none;
}

#home-intro-banner table {
  width:880px;
}

#home-intro-banner table tr td.square {
  width: 271px;
  height: 181px;
  background: url("images/mp-white-square.png") no-repeat top center;
  vertical-align: top;
}

* html #home-intro-banner table tr td.square {
  border: solid 1px #666;
  background: transparent !important;
}

* html #home-intro-banner table tr td img {
  background-color: white;
  border: solid 5px white;
  padding: 0px !important;
  margin: 0px !important;
}

#home-intro-banner table tr td img {
  float: right;
  padding-right:8px;
  padding-top:2px;
}

#home-intro-banner {
    background: url("images/mp-bg-blue.png") no-repeat;
    height: 271px;
    padding-right:30px;
    padding-left:30px;
    padding-top: 60px;
}

#home-sub-banner table {
  width:880px;
}


#home-sub-banner {
    padding-right:30px;
    padding-left:30px;
}

#home-sub-banner table tr td.square {
  width: 271px;
  height: 181px;
  background: url("images/mp-gray-square.png") no-repeat top center;
  vertical-align: top;
}

#home-sub-banner table tr td img {
  float: right;
  padding-right:8px;
  padding-top:2px;
}

#home-intro a.try,
#home-intro a.buy,
#home-intro a.download {
  float:right;
}

#home-intro-banner a {
  padding-left:10px;
  padding-right:10px;
  color: #eef;
}

#home-intro-banner a:hover {
  color: #0D71C0;
}

#home-sub-banner a {
  padding-left:10px;
  padding-right:10px;
  color: #0D71C0;
}

#home-sub-banner a:hover {
  color: #99f;
}

div.home-caption {
  width: 200px;
  height:48px;
  float: left;
  padding-top: 3px;
  padding-left:10px;
  color:#274E80;
  font-size:1.2em;
  font-weight:600;
}

div.home-content {
  width: 250px;
  clear:both;
  padding-left:10px;
  color:#19194b;
  font-size:0.9em;
}

#home-intro-banner div.home-content {
  height:105px;
}

#home-sub-banner div.home-content {
  height:90px;
}






