#header ul {
	margin: 0;
	bottom: -14px;
	right: 0;
	position: absolute;
	list-style: none;
	
	/* Text */
	letter-spacing: -.05em;
	text-transform: lowercase;
	font-weight: bold;
}

#header li {
	float: left;
	background: #2A2A2A url("images/mp-tabs.png") repeat-x left top;
  margin: 0 0 0 0;
	padding: 0 0 0 0;
	height:27px;
}

#header li a {
	float: left;
	display: block;
	width: .1em;
	background: #2A2A2A url("images/mp-tabs.png") repeat-x right top;
	padding: 5px 13px 0 10px;
	text-decoration: none;
	color: white;
}

#header > ul a { width: auto; }
/* IE5 Mac hide \*/
#header a { float: none; }
/* End */

#header .current_page_item {
	border-width: 0 !important;
  height:27px;
	background: #2A2A2A;
}

#header .current_page_item a {
	padding-bottom: 0 !important;
  height:18px;
  color: #fff !important;
	background: #2A2A2A;
}

#header li:hover, #header li:hover a {
	background-position: 0% -110px;
	color: #fff;
	height:27px;
	background: #2A2A2A;
}

#header li:hover a {
	background-position: 100% -110px;
	height:18px;
	background: #2A2A2A;
}

/* SIDE MENU */

#sidebar .menu ul {
    list-style: none;
    font-size: .85em;
    line-height: 1.2em;
}

#sidebar .menu ul li {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

#sidebar .menu ul li a {
    display: block;
}

#sidebar .menu ul li.current_page_item a {
    color: #333;
}



