<?xml version="1.0"?>
<config
Author="MonoTouch (monotouch@novell.com)"
BlogDirectory="/cvs/release/website/monotouch/newsitems"
BlogFileName="index.html"
BlogWebDirectory="http://www.mono-project.com/newstouch/"
BlogImageBasedir="http://www.mono-project.com/newstouch/"
Copyright="Novell, Inc."
Description="MonoTouch News"
ManagingEditor="monotouch@novell.com"
Title="Mono Touch News"
RSSFileName="index"
InputEncoding="latin1"
OutputEncoding="latin1"
EntrySpecific=""
/>
