label.textfield
{
	float: left;
	clear: left;
	width: 250px;
	color:#274E80;
	font-size:1.2em;
	font-weight:bold;
	margin-top: 5px;
}

input.textfield
{
	float: left;
	clear: left;
	width: 250px;
}

.required 
{
	font-size:smaller;
	color: Red;
	margin-left: 4px;
}

#lstServerAliases table
{
	width: 250px;
}

table.details
{
	width: 100%;
}

td.details
{
	padding: 0px;
	margin: 0px;
}

label.info
{
	float: left;
	clear: none;
	font-style: italic;
	font-size:smaller;
	padding:2px;
}

label.info em
{
	font-weight: bold;
}

span.progress
{
	float: left;
	clear: left;
	width: 250px;
	color:#274E80;
	font-size:1.2em;
	font-weight:bold;
	margin-top: 5px;
}

span.instructions
{
	float: left;
	clear: none;
	padding:2px;
	display:inline-table;
}

span.details
{
	float: left;
	clear: left;
	margin-bottom:6px;
	width: 100%;
}

.application 
{
	display: none;
}

.vhost
{
	
}

div.section
{
	clear:left;
	float:left;
	margin-top: 10px;
	width: 100%;
}

input.application 
{
	float: left;
	clear: left;
	width: 125px;
}

input.vhost
{
	float: left;
	clear: left;
	width: 125px;
}

textarea.preview
{
	width: 100%;
	height: 400px;
}

