PKG="NOVLmono"
NAME="Mono @@MONO_VERSION@@-@@MONO_RELEASE@@ Runtime and dependencies (@@MONO_PACKAGES@@)"
ARCH="sparc"
VERSION="@@MONO_VERSION@@"
CATEGORY="application"
VENDOR="Novell, Inc."
EMAIL="wberrier@novell.com"
BASEDIR="/opt/mono"
CLASSES="none"
