<?xml version="1.0"?>
<image schemeversion="2.4" name="Mono_openSUSE-11.0">
  <description type="system">
    <author>Andrew Jorgensen</author>
    <contact>ajorgensen@novell.com</contact>
    <specification>Mono Live system</specification>
  </description>
  <preferences>
    <type boot="isoboot/suse-11.0" flags="unified">iso</type>
    <type primary="true" boot="vmxboot/suse-11.0" filesystem="ext3" format="vmdk">vmx</type>
    <type boot="xenboot/suse-11.0" filesystem="ext3">xen</type>
    <version>2.0.0</version>
    <size unit="M">60000</size>
    <packagemanager>zypper</packagemanager>
    <rpm-check-signatures>False</rpm-check-signatures>
    <rpm-force>False</rpm-force>
    <locale>en_US.UTF-8</locale>
    <timezone>US/Mountain</timezone>
  </preferences>
  <users group="root">
    <user name="root" pwd="$2a$05$DlJal4RD7tKd3trZ6Qjb5ufS7cJ4R7O56g8yNn8SYcLPvpelTl7lq" home="/root"/>
  </users>
  <!--
  <repository type="rpm-md">
    <source path="http://www.go-mono.com/download-stable/openSUSE_11.0/"/>
  </repository>
  <repository type="rpm-md">
    <source path="http://mono.ximian.com/monobuild/preview/download-preview/openSUSE_11.0/"/>
  </repository>
  <repository type="yast2">
    <source path="http://kirk.provo.novell.com/install/11.0/i386/"/>
  </repository>
  -->
  <repository type="yast2">
    <source path="http://download.opensuse.org/distribution/11.0/repo/oss/"/>
  </repository>
  <repository type="yast2">
    <source path="http://download.opensuse.org/distribution/11.0/repo/non-oss/"/>
  </repository>
  <repository type="yast2">
    <source path="http://download.opensuse.org/distribution/11.0/repo/debug/"/>
  </repository>
  <repository type="rpm-md">
    <source path="http://download.opensuse.org/update/11.0/"/>
  </repository>
  <repository type="rpm-md">
    <source path="http://download.opensuse.org/repositories/Mono:/Preview/openSUSE_11.0/"/>
  </repository>
  <repository type="rpm-md">
    <source path="http://download.opensuse.org/repositories/Mono:/Community/openSUSE_11.0+Mono/"/>
  </repository>
  <!--repository type="rpm-md">
    <source path=""/>
  </repository-->
  <packages type="image" patternPackageType="onlyRequired" patternType="onlyRequired">
    <package name="yast2-live-installer"/>
    <package name="pam"/>
    <package name="pam-config"/>
    <package name="pam-modules"/>
    <package name="udev"/>
    <package name="aaa_base"/>
    <package name="tar"/>
    <package name="patch"/>
    <package name="kernel-source"/>
    <package name="zypper"/>

    <opensusePattern name="gnome_basis"/>
    <opensusePattern name="devel_basis"/>
    <opensusePattern name="mono_everything"/>
    <opensusePattern name="mono_apps"/>
    <opensusePattern name="mono_aspnet_apps"/>

    <package name="mysql"/>
    <package name="mysql-client"/>
    <package name="postgresql"/>
    <package name="postgresql-server"/>
    <package name="xchat"/>

    <package name="gcc"/>
    <package name="gtk2-devel"/>

    <package name="phpMyAdmin"/>
    <package name="phpPgAdmin"/>

    <package name="samba"/>
    <package name="MozillaFirefox"/>
    <package name="gtksourceview18"/>

    <ignore name="ggreeter"/>
    <ignore name="SuSEfirewall2"/>
  </packages>
  <packages type="bootstrap">
    <package name="filesystem"/>
    <package name="glibc-locale"/>
    <package name="kernel-default"/>
    <package name="udev"/>
    <package name="bundle-lang-common-en"/>
  </packages>
  <split>
    <temporary>
      <!-- allow read/write access to: -->
      <file name="/var"/>
      <file name="/var/*"/>
      <file name="/etc"/>
      <file name="/etc/*"/>
    </temporary>
  </split>
</image>
