h1 {
	color: #efefef;
	font-size: 14pt;
	font-family: "Trebuchet MS";
	border: 0;
	margin: 0;
	padding: 1em;
	background: #666666;
}

h2, h3, h4, h5, h6 {
	font-family: Verdana,sans-serif;
	font-weight: bold;
	margin: 9pt;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 13px;
	border-bottom: 2px solid #dddddd;
}

h3 a {
	color: black;
	text-decoration: none;
}

body, table {
	background-color: #ffffff;
	font-family: Verdana, sans-serif; font-size: 12px;
	color: black;
	margin: 0;
	padding: 0;
	border: 0;
}

p {
	margin-left: 2em;
	margin-right: 2em;
}

div {
	margin-left: 2em;
	margin-right: 2em;
}

.code, .xml , .script
{
	margin:15px;
	padding:15px;
	font-size: small;
	font-family: "Courier New", Courier;
	background:whitesmoke;
	border: solid 1px silver;
	line-height:110%;
}


.code-xml, .code-csharp, .code-mdb, .code-gaim
{
	margin:15px;
	padding:15px;
	font-size: small;
	font-family: "Courier New", Courier;
	background:whitesmoke;
	border: solid 1px silver;
	line-height:110%;
}

table.buildstatus {
	border-collapse: collapse;
}
table.buildstatus td {
	padding:.5em;
}

table.buildstatus tbody td{
	border: solid 1px whitesmoke;
	text-align: center;
}

table.buildstatus th {
	font-weight:normal;
	/* text-align:right; */
	text-align:center;
	padding: .5em;
}

/* Color from buildbots green: #72ff75 */
.success {
	background:springgreen;
}


.failure {
	background:red;
}

.inprogress{
	background:yellow
}

.notused {
	background:white;
}

.new {
	background:#d3d3d3;
}

.queued {
	background:pink;
}

.timeout {
	background:steelblue;
}

.testfailure {
	background:orange;
}

table.legend th {
	font-weight:normal;
	text-align:center;
	padding: .5em;
}

table.legend td {
	width: 10em;
	padding: 1em;
}

table.packagestatus th {
	text-align:left;
}

